<div class="d-flex center">
  <h1>Amada</h1>
</div>
<div class="row checkout-nav">
  <div class="col-sm checkout-options">
    Endereço
  </div>
  <div class="col-sm checkout">
    Pagamento
  </div>
  <div class="col-sm checkout">
    Resumo
  </div>
</div>

<div class="checkout-shipping">
  <div class="row d-flex center">
    <h1>Endereço de Entrega</h1>
  </div>
  <div class="d-flex center">
    <div class="checkout text-center">
    <div>
      <p>Henrique Starling</p>
      <p>Rua Felipe dos Santos, 760
      <br>Lourdes - Belo Horizonte/MG</p>
      <p>CEP: 30180-160</p>
          <label for="entrega">Forma de Entrega:</label>
        <select id="entrega">
          <option value="Sedex (até 08/05 - GRÁTIS)">Sedex (até 15/05 - R$ 8,90)</option>
          <option value="Correios">Correios (até 20/05 - GRÁTIS)</option>
        </select>
      <button class="btn btn-xs btn-link btn-icon">
        <i class="i i-pencil"></i>
        <span>Atualizar o endereço</span>
      </button>
    </div>
  </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <p>Valor</p>
    </div>
    <div class="col-4">
      <p>U$D 34,21</p>
    </div>
  </div>
   <%= link_to 'pague agora', pagamento_path, class: 'btn btn-dark btn-lg btn-block' %>
</div>

