<p>Amada</p>

  <div class="row btn-lg">
    <div class="col-sm">
      Endereço
    </div>
    <div class="col-sm">
      Pagamento
    </div>
    <div class="col-sm">
      Resumo
    </div>
  </div>

<div class="checkout-shipping">
  <div class="row d-flex">
    <h1>Endereço de Entrega</h1>
  </div>
  <div class="row d-flex">
    <div>
      <h4>Henrique Starling</h4>
        <p>Rua Felipe dos Santos, 760
         <br>Lourdes - Belo Horizonte/MG</p>
          <p>CEP: 30180-160</p>
            <button class="btn btn-xs btn-link btn-icon" type="button">
              <i class="i i-pencil"></i>
              <span>Atualizar o endereço</span>
            </button>
    </div>
  </div>
</div>
<div class="checkout-shipping-options">
  <h2>Forma de Envio</h2>
    <i class="fas fa-check"></i>  Super Express (até 08/05 - GRÁTIS)
</div>

