<div class="d-flex center">
   <h1>Amada</h1>
</div>
<div class="row checkout-nav">
   <div class="col-sm checkout-options-paid">
      Endereço
   </div>
   <div class="col-sm checkout-options">
      Pagamento
   </div>
   <div class="col-sm checkout">
      Resumo
   </div>
</div>
<div class="checkout-shipping row d-flex center">
   <%= render 'carts/pagamento' %>
</div>
