.card-title {
  margin-bottom: -0.25rem;
}

.card-img-top {
  min-height: 340px;
  height: 200px;
  object-fit: cover;
}

.app_product-box_pricing {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 4.4rem;
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
}

.app__product-box__pricing>div {
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
}

.app_product-box_cost {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.app_product-box_cost--promote span:first-child {
  font-weight: 400;
  order: 2;
  padding-left: .8rem;
}

.app_product-box_cost--promote span:last-child {
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  order: 1;
  padding-left: 0;
}

.app__product-box__cost span {
  line-height: 1;
}

.app__product-box__sale span:first-child {
  color: #999;
  text-decoration: line-through;
}

.app_product-box h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-family: Gotham,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1rem;
  text-align: center;
}

*, :after, :before {
  box-sizing: border-box;
}
