.logo_brand {
  height: 80px;
  width: 160px;
}

.form-control.is-valid {
  border-color: gray !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.8) !important;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: black !important;
}

.was-validated .form-control:valid, .form-control.is-valid {
  background-image: none !important;
}
