// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import "pages/cart";

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  padding-left: 0 !important;
}

.header__nav-list {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.small_size {
  font-size: 20px;
}

.footer-auaha__contact {
  padding: 20px 0;
  font-family: 'Montserrat',sans-serif;
}

.footer-auaha__contact h3 {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -.01px;
  color: #2a2b2c;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald',sans-serif !important;
}

.footer-auaha__contact .inner {
  text-align: center;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.search-box {
    border: solid 2px black;
    display: inline-block;
    position: relative;
    border-radius: 32px;
    height: 28px;
  input[type="text"] {
    font-size: 14px;
    width: 16px;
    height: 16px;
    padding: 0px 12px 0px 12px;
    border: none;
    box-sizing: border-box;
    border-radius: 16px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
    position: relative;
    bottom: 12px;
    &:focus {
      outline: none;
    }
    &:focus, &:not(:placeholder-shown) {
      width: 300px;
      transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
      + span {
        bottom: -14px;
        right: 14px;
        transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
      }
      + span:after {
        top: 19px;
        right: 2px;
        opacity: 1;
        transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
      }
    }
  }
  span {
    width: 6px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -28px;
    right: -7px;
    transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
    &:before, &:after {
      content: '';
      height: 14px;
      border-left: solid 2px black;
      position: absolute;
      transform: rotate(-45deg)
    }
    &:after {
      transform: rotate(45deg);
      opacity: 0;
      top: -20px;
      right: -10px;
      transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
    }
  }
}


  .modal.left .modal-dialog,
  .modal.right .modal-dialog {
    // position: fixed;
    margin: auto;
    width: 409px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }

  .modal.left .modal-content,
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    margin-left: 160px;
  }

  .modal.left .modal-body,
  .modal.right .modal-body {
    padding: 15px 15px 80px;
  }

/*Right*/
  .modal.right.fade .modal-dialog {
    right: -276px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  .modal.right.fade.in .modal-dialog {
    right: 0;
  }

/* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }

  .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
  }

.app__cart__header {
    align-items: center;
    border-bottom: .1rem solid #ccc;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1rem;
    position: relative;
}

.app__cart__header h4 {
    flex: 1 1;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

.app__cart__header>* {
    line-height: 1;
}

.app__cart__header>* {
    line-height: 1;
}

.app__cart__footer>div:not(.app__cart__footer__shipping):not(.app__cart__footer__coupon), .app__cart__footer__coupon form, .app__cart__footer__zip {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.app__cart__footer {
    border-top: .1rem solid #ccc;
    padding: 0 1rem 1rem;
}

.app__cart__footer>div:not(:last-child) {
    border-bottom: .1rem solid #ccc;
    font-size: 1.4rem;
    line-height: 1;
    margin: 0;
    padding: 1rem 0;
}

.app__footer {
    background-color: #f4f4f4;
    color: #000;
    font-size: 1.3rem;
    position: relative;
    text-align: center;
}

.app__footer .app__container {
    padding-top: 3rem;
}

.app__footer__cta {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.app__newsletter--footer .form-inline {
    position: relative;
}

.app__footer__primary {
    display: flex;
    justify-content: center;
    margin: 6rem auto 0;
    max-width: 85rem;
}

.app__footer__secondary {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.app__footer__copyright {
    border-top: .1rem solid #ccc;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 1.5rem 0;
    text-align: center;
}

.purchases-container {
    display: block;
}
.purchases-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.myml-main-content {
    float: left;
    margin: 0 3% 0 0;
    width: 55%;
}

.myml-main-content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
}

.myml-ui-relevant-box .ui-panel__content {
    padding: 8px;
}

.ui-panel {
    margin-bottom: 20px;
}

.myml-ui-relevant-box {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.myml-ui-arrange-box {
    text-align: left;
}

.myml-ui-arrange-box__icon {
    float: left;
    margin-right: 24px;
    margin-bottom: 0;
}

.ui-badge--small {
    width: 40px;
    height: 40px;
}

.u-bg-color--light-gray {
    background-color: #d7d7d7!important;
}

.ui-badge {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.ui-badge--small .ui-badge__icon {
    max-width: 24px;
}

.ui-badge__icon {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: auto;
    position: absolute;
}

.ui-badge__complementary-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -20%;
}

.myml-ui-arrange-box__info {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.myml-ui-arrange-box__title {
    margin-bottom: 2px;
}
.myml-ui-arrange-box__title {
    color: #666;
    margin-bottom: 8px;
}

.myml-ui-arrange-box:after, .myml-ui-arrange-box:before {
    display: table;
    content: '';
}

.myml-ui-arrange-box:after {
    clear: both;
}

.myml-ui-arrange-box:after, .myml-ui-arrange-box:before {
    display: table;
    content: '';
}

menu, ol, ul {
    list-style: none;
}

.purchases-payment-method__payment:last-child {
    padding: 0;
}

.purchases-payment__subtitle {
  text-align: center !important;
}
