// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.logo_brand {
  height: 80px;
  width: 160px;
}

.form-control.is-valid {
  border-color: gray !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.8) !important;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: black !important;
}

.was-validated .form-control:valid, .form-control.is-valid {
  background-image: none !important;
}

@import "pages/cart";

.header__nav-list {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.small_size {
  font-size: 20px;
}

.footer-auaha__contact {
  padding: 20px 0;
  font-family: 'Montserrat',sans-serif;
}

.footer-auaha__contact h3 {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -.01px;
  color: #2a2b2c;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald',sans-serif !important;
}

.footer-auaha__contact .inner {
  text-align: center;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.search-box {
    border: solid 2px black;
    display: inline-block;
    position: relative;
    border-radius: 32px;
    height: 28px;
  input[type="text"] {
    font-size: 14px;
    width: 16px;
    height: 16px;
    padding: 0px 12px 0px 12px;
    border: none;
    box-sizing: border-box;
    border-radius: 16px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
    position: relative;
    bottom: 12px;
    &:focus {
      outline: none;
    }
    &:focus, &:not(:placeholder-shown) {
      width: 300px;
      transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
      + span {
        bottom: -14px;
        right: 14px;
        transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
      }
      + span:after {
        top: 19px;
        right: 2px;
        opacity: 1;
        transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
      }
    }
  }
  span {
    width: 6px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -28px;
    right: -7px;
    transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
    &:before, &:after {
      content: '';
      height: 14px;
      border-left: solid 2px black;
      position: absolute;
      transform: rotate(-45deg)
    }
    &:after {
      transform: rotate(45deg);
      opacity: 0;
      top: -20px;
      right: -10px;
      transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
    }
  }
}

