<div class="footer-auaha__contact">
  <h3 class="title">Acompanhe a Clothe Store</h3>
  <div class="inner">
    <div class="help__social">
      <div class="list">
        <a href="https://www.instagram.com.br/"><!--?xml version="1.0" encoding="UTF-8"?-->

        <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 61 (89581) - https://sketch.com -->
        <title>instagram (2)</title>
        <desc>Created with Sketch.</desc>
        <defs>
          <linearGradient x1="50%" y1="99.7089109%" x2="50%" y2="0.776721582%" id="linearGradient-1">
            <stop stop-color="#E09B3D" offset="0%"></stop>
            <stop stop-color="#C74C4D" offset="30%"></stop>
            <stop stop-color="#C21975" offset="60%"></stop>
            <stop stop-color="#7024C4" offset="100%"></stop>
          </linearGradient>

          <linearGradient x1="50%" y1="146.098873%" x2="50%" y2="-45.1596833%" id="linearGradient-2">
            <stop stop-color="#E09B3D" offset="0%"></stop>
            <stop stop-color="#C74C4D" offset="30%"></stop>
            <stop stop-color="#C21975" offset="60%"></stop>
            <stop stop-color="#7024C4" offset="100%"></stop>
          </linearGradient>

          <linearGradient x1="50%" y1="658.140556%" x2="50%" y2="-140.029283%" id="linearGradient-3">
            <stop stop-color="#E09B3D" offset="0%"></stop>
            <stop stop-color="#C74C4D" offset="30%"></stop>
            <stop stop-color="#C21975" offset="60%"></stop>
            <stop stop-color="#7024C4" offset="100%"></stop>
          </linearGradient>
        </defs>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-487.000000, -374.000000)">
            <g>
              <g>
                <g transform="translate(438.000000, 341.000000)">
                  <g transform="translate(49.000000, 33.000000)">
                    <g>
                      <path d="M17.5216486,0 L7.43460145,0 C3.33514493,0 0,3.33514493 0,7.43460145 L0,17.5216486 C0,21.6211051 3.33514493,24.95625 7.43460145,24.95625 L17.5216486,24.95625 C21.6211051,24.95625 24.95625,21.6211051 24.95625,17.5216486 L24.95625,7.43460145 C24.95625,3.33514493 21.6210598,0 17.5216486,0 Z M22.4456522,17.5216486 C22.4456522,20.2410779 20.2410779,22.4456522 17.5216486,22.4456522 L7.43460145,22.4456522 C4.7151721,22.4456522 2.51059783,20.2410779 2.51059783,17.5216486 L2.51059783,7.43460145 C2.51059783,4.71512681 4.7151721,2.51059783 7.43460145,2.51059783 L17.5216486,2.51059783 C20.2410779,2.51059783 22.4456522,4.71512681 22.4456522,7.43460145 L22.4456522,17.5216486 L22.4456522,17.5216486 Z" fill="url(#linearGradient-1)" fill-rule="nonzero"></path>
                      <path d="M12.478125,6.02355072 C8.91906703,6.02355072 6.02355072,8.91906703 6.02355072,12.4780797 C6.02355072,16.0370924 8.91906703,18.932654 12.478125,18.932654 C16.037183,18.932654 18.9326993,16.0371377 18.9326993,12.4780797 C18.9326993,8.91902174 16.037183,6.02355072 12.478125,6.02355072 Z M12.478125,16.4221014 C10.2999094,16.4221014 8.53414855,14.6563406 8.53414855,12.478125 C8.53414855,10.2999094 10.2999547,8.53414855 12.478125,8.53414855 C14.6563406,8.53414855 16.4221014,10.2999094 16.4221014,12.478125 C16.4221014,14.6562953 14.6562953,16.4221014 12.478125,16.4221014 Z" fill="url(#linearGradient-2)" fill-rule="nonzero"></path>
                      <circle fill="url(#linearGradient-3)" fill-rule="nonzero" cx="18.9451993" cy="6.07201087" r="1.54664855"></circle>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
</svg>
</a>
<a href="https://www.facebook.com.br"><!--?xml version="1.0" encoding="UTF-8"?-->
<svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 61 (89581) - https://sketch.com -->
    <title>facebook (1)</title>
    <desc>Created with Sketch.</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-530.000000, -374.000000)" fill="#475993">
            <g>
                <g>
                    <g transform="translate(438.000000, 341.000000)">
                        <g transform="translate(92.000000, 33.000000)">
                            <g>
                                <path d="M21.6198655,0 L3.36717604,0 C1.50764059,0 0.000122249389,1.50745721 0.000122249389,3.36705379 L0.000122249389,21.6198655 C0.000122249389,23.4794621 1.50757946,24.9870416 3.36717604,24.9870416 L12.3693154,24.9870416 L12.3846577,16.0579462 L10.0649144,16.0579462 C9.76344743,16.0579462 9.51876528,15.8141809 9.51760391,15.5127139 L9.50647922,12.6345355 C9.50531785,12.3314181 9.7507335,12.0850856 10.0538509,12.0850856 L12.3693765,12.0850856 L12.3693765,9.30403423 C12.3693765,6.07665037 14.3404645,4.3193154 17.2194988,4.3193154 L19.5819682,4.3193154 C19.8842298,4.3193154 20.1293399,4.5643643 20.1293399,4.86668704 L20.1293399,7.29358191 C20.1293399,7.5957824 19.8844132,7.84077017 19.5822738,7.84095355 L18.1324572,7.84162592 C16.5667482,7.84162592 16.2635697,8.5856357 16.2635697,9.67750611 L16.2635697,12.0851467 L19.7039731,12.0851467 C20.0317848,12.0851467 20.2861247,12.3713936 20.2474939,12.6969438 L19.906357,15.5751222 C19.8737164,15.8505501 19.6401589,16.0580685 19.3628362,16.0580685 L16.278912,16.0580685 L16.2635697,24.9870416 L21.6199878,24.9870416 C23.4795232,24.9870416 24.9869804,23.4795844 24.9869804,21.6200489 L24.9869804,3.36705379 C24.9869804,1.50745721 23.4794621,0 21.6198655,0 Z" fill-rule="nonzero"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></a>
